.site-footer {
 width: 100%;
 margin: 15px auto;
  
  padding: 1em 0;
  height: 170px;
  
}


.footer-container{
  width: 79%;
  margin: 0 auto;
  
}
.footer-menu {
  border: none;
  list-style: none;
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color:rgb(249, 246, 246);
}

.footer-menu-item {
  display: inline-block;
  margin-right: 1em;
  color: black;
}

a{
  color: black  ;
  font-size: 14px;
}
a:hover {
  color:#00c1d7;
}
.copyright {
  text-align: center;
  margin-bottom: 1em;
  font-size: 16px;
}
:link{
  text-decoration: none;
  font-weight:lighter;
  color: black;
  cursor: pointer;
}

:link:hover {
  color:#00c1d7;
}

#sdt {
  color:#00c1d7;
  font-weight: bold;
}
h3{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
p{
  padding: auto;
  font-size: 14px;
  text-align: left;
  margin-bottom: 15px;
}
#about:hover{
  color: #00c1d7;
}
