/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: lightgray;
}

.header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header nav a {
  padding: 1em;
  text-decoration: none;
  color: black;
}
.toggle-button-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: none;
}

@media only screen and (max-width: 767px) {
  .header {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .header nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .header.open {
    transform: translateX(0);
  }
  .toggle-button-container {
    display: block;
  }
} */

header {
  width: 100%;
  background-color: #00c1d7;
}

.header-container {
  width: 1300px;
  margin: 0 auto;
  display: block;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.header-navbar {
  height: 64px;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.header-navbar a {
  margin-right: 20px;
}

.header-logo {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.header-btn-danhmuc {
  background: hsla(0, 0%, 100%, 0.2);
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.header-btn-danhmuc:hover {
  background: hsla(0, 0%, 100%, 0.3);
}
.header-btn-danhmuc span {
  font-size: 14px;
}
.header-btn-diadiem {
  background: hsla(0, 0%, 100%, 0.2);
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.header-btn-diadiem svg{
  font-size: 20px;
}
.header-btn-diadiem:hover {
  background: hsla(0, 0%, 100%, 0.3);
}
.header-btn-diadiem span {
  font-size: 14px;
}

.header-form {
  text-decoration: none;
}

.header-form form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  height: 40px;
}

.header-form form svg {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  color: rgb(112, 111, 111);
}

.header-form form input {
  border: 0;
  font-size: 16px;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border-radius: 10px;
}
