@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");

.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}
.infoItems {
  flex: 1;
  margin: 0px 20px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 4px 14px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 4px 14px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 4px 14px 0px rgba(0, 0, 0, 0.45);
}
.infoTitle {
  font-size: 20px;
  font-family: "Source Sans Pro", "sans-serif";
}
.infobox1 {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
.info1Title {
  font-size: 30px;
  font-weight: 600;
}
.info1Rate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.infoIcon {
  font-size: 14px;
  margin-left: 5px;
  color: green;
}

.infoIcon.down {
  color: red;
}
