.main-content {
  margin: 70px auto 0 auto; /* trên phải dưới trái*/
  max-width: 1200px;
  min-height: 250vh;
  background-color: #f5f5f5;
}
.box1 {
  display: flex;
  justify-content: space-between;
}

.danhmuc {
  width: 205px;
  min-height: 375px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.danhmuc ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.danhmuc ul a {
  text-decoration: none;
  color: #333;
  font-family: "Roboto", sans-serif;
}
.danhmuc ul a li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
}
.NavigateNext {
  margin-left: auto;
}
.danhmuc-icon {
  margin-right: 10px;
}
.danhmuc ul a li:hover {
  background-color: #f5f5f5;
}

.submenu1 {
  display: none;
}
.danhmuc ul a li:hover .submenu1 {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 100px;
  margin: 260px 0 0 180px;
}

.image-slider {
  width: calc(100%-470px);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-right: 10px;
}

.image-slider .carousel-baner {
  width: 700px;
}
.carousel {
  display: flex;
  justify-content: center;
}
.carousel ul li {
  margin-left: 10px;
  cursor: pointer;
}

.baners-right {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.baners-right img {
  margin-top: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.box2 {
  margin-top: 10px;
  background: linear-gradient(rgb(255, 187, 186), rgb(255, 187, 186)) 0% 0% /
    cover;
  width: 1200px;
  min-height: 350px;
  border-radius: 10px;
}

.box2-title {
  padding: 10px 0px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
}
.box2-tap-menu {
  display: flex;
  align-items: center;
  padding: 8px 0 0 8px;
}
.box2-tap-item {
  display: inline-block;
  border-radius: 7px;
  background-color: #fff;
  color: rgb(198, 10, 9);
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
}
.box2-tap-item-active {
  background-color: rgb(198, 10, 9);
  color: #fff;
}
.box2-tap-item:hover {
  background-color: rgb(198, 10, 9);
  color: #fff;
}

.box2-content {
  padding: 10px 0;
}

.box3 {
  width: 100%;
  min-height: 350px;
  margin-top: 20px;
}
.box3-title {
  padding: 10px 0px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.box3-title span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}
.box3-title ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.box3-title ul li {
  margin-right: 10px;
  cursor: pointer;
  list-style: none;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #444;
  border-radius: 10px;
  padding: 5px 10px;
}
.box3-content {
  margin-top: 10px;
}

.box4 {
  width: 100%;
  min-height: 250px;
  margin-top: 20px;
}
.box4-title {
  display: flex;
  justify-content: space-between;
}
.box4-title span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  padding: 10px 0 0 10px;
}
.box4-title a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  padding: 10px 10px 0 0;
  border-radius: 10px;
}
.box4-title a:hover {
  text-decoration: underline;
}
.box4-content {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}
.box4-item {
  background: rgb(242, 131, 118)
    url(https://cdn2.cellphones.com.vn/x/media/icons/category/cate-43.svg);
  margin-left: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.box4-item span {
  color: #fff;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  margin-left: 5px;
  margin-top: 10px;
  display: block;
  font-weight: 600;
}
/* mobile */

@media screen and (max-width: 768px) {
  .main-content {
    margin: 70px 10px 0 10px;
  }
  .box1 {
    flex-direction: column;
  }
  .danhmuc {
    display: none;
  }
  .image-slider {
    width: 100%;
    margin-right: 0;
    background-color: #333;
  }
  .image-slider .carousel-baner {
    width: 100%;
  }
  .baners-right {
    display: none;
  }
  .box2 {
    width: 100%;
    margin-top: 10px;
    background: linear-gradient(rgb(255, 187, 186), rgb(255, 187, 186)) 0% 0% /
      cover;
    min-height: 350px;
    border-radius: 10px;
  }
  .box2-title {
    padding: 10px 0px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff; */
  }
  .box2-tap-menu {
    display: flex;
    align-items: center;
    padding: 8px 0 0 8px;
  }
  .box2-title-image img {
    width: 100%;
  }
  .box3-title ul li {
    margin-right: 10px;
    cursor: pointer;
    list-style: none;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    color: #444;
    border-radius: 10px;
    padding: 5px 10px;
  }
}
