.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
}
.sidebarWrapper {
  padding: 20px;
  color: #555;
}
.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  font-size: 15px;
  color: rgb(162, 155, 155);
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarListitem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.sidebarListitem.active,
.sidebarListitem:hover {
  background-color: rgb(236, 230, 230);
}

.sidebarIcon {
  margin-right: 10px;
  font-size: 20px !important;
}

.sidebarListitem a {
  text-decoration: none;
  color: #555;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
